body {
  font-family: "Arial", sans-serif;
}

header,
section,
footer {
  margin: 20px;
}

.margem {
  margin: 20px;
}

#logo {
  width: 150px;
  height: auto;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}

#produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  background-color: #e0e0e0;
  text-align: center;
  padding: 5px;
}

.item h3 {
  margin-top: 0;
}

.item p {
  margin-bottom: 10px;
}

.item img {
  max-width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#destaque {
  text-align: center;
  background-color: #e0e0e0;
  padding: 20px;
}

img {
  width: 350px;
  height: 300px;
}

.slides {
  width: 40%;
  max-height: 410px;
  min-width: 300px;
  margin: 0 auto;
}

#centralizar {
  text-align: center;
}

#botaoCarrinho {
  background-color: red;
  color: white;
}

button {
  background-color: rgb(22, 151, 22);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#depoimentoClientes {
  max-width: 500px;
  height: auto;
}

form {
  display: grid;
  gap: 10px;
  max-width: 400px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
}

footer {
  margin-top: 50px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer a {
  color: #fff;
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  #depoimentoClientes {
    max-width: 400px;
    height: auto;
  }
}

@media only screen and (max-width: 788px) {
  header {
    min-width: fit-content;
  }
}
